* 
        /* Estilo para la tabla de posiciones */
        #table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px;
        }

        th, td {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Estilo para el fixture */
        #fixture {
            width: 50%;
            margin: 20px;
        }

        #fixture th, #fixture td {
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }
